# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Data folders
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db